/* CSS */
body {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.4;

     /* Dit is ons eerste breakpoint, waarbij we het body element in Grid Layout zetten */
    @media (min-width: 480px) {
        display: flex;
        justify-items: center;
    }
}


/* info buurtcampus */
.header_theme {
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.header_info {
    
}

.info_buurtcampus {

}

.tanja_container {

}
/* oost */
/** oost-box **/

/* nieuw-west */
/** nieuw-west-box **/

/* zuid-oost */
/** zuid-oost-box **/

