/* CSS */
body .header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    background-color: rgb(180, 182, 208);
}

header {
    grid-area: 1 / 1 / 3 / 5;
}

/* info buurtcampus */

/* oost */
/** oost-box **/

/* nieuw-west */
/** nieuw-west-box **/

/* zuid-oost */
/** zuid-oost-box **/

